streamlit
pandas
numpy
opencv-python-headless
pyaudio
speechrecognition
gtts
Pillow
PyPDF2
deep-translator
langchain
langchain-community
langchain-core
langchain-groq
chromadb
qrcode
requests
google-auth-oauthlib
google-auth
