streamlit==1.39.0
pandas
numpy
Pillow
requests
PyPDF2
deep-translator
gtts
speechrecognition
qrcode
opencv-python-headless
google-auth
google-auth-oauthlib
langchain
langchain-core
langchain-community
langchain-groq
chromadb
