streamlit==1.32.0
PyPDF2==3.0.1
langchain-core==0.1.0
langchain==0.1.0
langchain-community==0.0.0
langchain-text-splitters==0.0.0
langchain-groq==0.1.0
pyzbar==0.1.9
Pillow==10.1.0
requests==2.31.0
deep-translator==1.11.4
pandas==2.1.4
pyaudio==0.2.13
wave==0.0.2
SpeechRecognition==3.10.0
gtts==2.4.0
google-cloud-translate==2.0.1
pygame==2.5.2
